{% extends 'RylLandingBundle::reign_base_layout.html.twig' %}

{% block reign_page_content_XX %}
  <header id=header class="home-parallax home-fade dark-bg header-inner">
    <div class=color-overlay></div>
    <div class=container>
      <h1>Blog</h1>
      <div class=breadcrumb><a href=#>Home</a> <i class="fa fa-angle-double-right"></i> <a href=#>Blog</a></div>
    </div>
  </header>
  <section id=blog-single class="section blog blog-standard">
    <div class=container>
      <div class=row>
        <div class="col-md-8 col-md-offset-2">
          <div class="row blog-post">
            <div class=col-md-12>
              <div class=featured-image>
                <img src=/assets/images/blog/featured_standard_01.jpg class=img-responsive>
              </div>
              <h2 class=post-title><a href=blog__single__full_width.html>How to take the shame out of self-promotion</a></h2>
              <div class=post-meta>by <a href=#>Admin</a>
                <span>|</span> <a href=#>23 June</a>
                <span>|</span> 3 Comments
                <span>|</span> <a href=#>Web Design</a></div>
              <div class=post-content>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur earum fuga incidunt nesciunt pariatur perspiciatis quidem veritatis? Autem fugiat hic id impedit molestias saepe. Consequuntur debitis mollitia quae quos!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ratione rerum tempora. Accusamus amet beatae dignissimos error laborum, necessitatibus sint vero vitae! Cumque deserunt fuga inventore neque, quidem reiciendis voluptatibus.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ratione rerum tempora. Accusamus amet beatae dignissimos error laborum, necessitatibus sint vero vitae! Cumque deserunt fuga inventore neque, quidem reiciendis voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ratione rerum tempora. Accusamus amet beatae dignissimos error laborum, necessitatibus sint vero vitae! Cumque deserunt fuga inventore neque, quidem reiciendis voluptatibus.</p>
              </div>
              <div id=disqus_thread></div>
              <noscript>Please enable JavaScript to view the <a href=https://disqus.com/?ref_noscript rel=nofollow>comments powered by Disqus.</a></noscript>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ parent() }}
{% endblock %}
