<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Antigravity fitness</h2>
                    <p class="lead">Aerotonik est le leader de l'antigravity fitness en France. Il d&eacute;veloppe un nouveau style mixant fitness et relaxation</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/assetic/landing/yoga1.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

</div>
<!-- /.content-section-a -->